# Core Data Science
numpy
pandas
scikit-learn

# Data Visualization
matplotlib
seaborn

# Geospatial Analysis
geopandas
earthengine-api

# API / Dashboard
streamlit
fastapi
uvicorn

# API Communication
requests

# Development Environment
ipykernel

# Utilities
joblib
python-dotenv
tqdm