#  Core de Análise e Ciência de Dados
pandas
numpy
scikit-learn

#  Visu de Dados
matplotlib
seaborn

#  Análise Geoespacial
geopandas
earthengine-api

#  Interface Web (Dashboard)
streamlit

#  Comunicação com APIs Externas
requests

#  Utilitários
joblib     # Para salvar/carregar o modelo de ML
tqdm       #  barras de progresso
python-dotenv
pyarrow    # Necessário para ler ficheiros .parquet

